body{
			background-color: black;
		}
		.bgimg{
			position: fixed;
			top: 3%;
			bottom: 3%;
      left: 57%;
      border: 5px #303030;
      border-radius: 10%;
		  width: 35%;
			
		}
		.bgimg:hover{
                    object-fit: cover;
			box-shadow: 7px 7px 10px 7px #303030;
		}
             .head1{
       	       position: absolute;
       	       font-size: 50px;
       	       left: 10%;
       	       top: 7%;
       	       font-family: sans-serif;
               animation-name: head1;
       	}

            .h1:after{
                     content:"Hello.";
              }
            .h1:hover:after{
	              content:"About";
	
             }
            .h2:after{
                     content:"I am";
    
             }
            .h2:hover:after{
	              content:"Work";
             }
            .h3:after{
                     content:"Parthiban";

             }
            .h3:hover:after{
	              content:"Contact";
             }
            .h2{
	              margin-top: -15%;
             }
            .h3{
	              margin-top: -11%;
             }
             .p1{
	              margin-top: -2%;
             }
            .head1 a{
            	color: #3AB6D0;
            	text-decoration: none;
            	display: inline-block;
            	}
   .h1:hover , .h2:hover, .h3:hover
{
  
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}
@keyframes textclip {
  to {
    background-position: 200% center;
}
}
.h1:hover , .h2:hover, .h3:hover{
	animation: h1 3s 1;

}
@keyframes h1 {
 0%{margin-left: 0;}
 25%{margin-left: 70px;}
 50%{margin-left: 0px;}
 100%{margin-left: 0;}
}
/*about css*/
.H1{
      transform: translate(7%, 45%);
      font-family: sans-serif;
     
    }
    .link{
      position: fixed;
      color: white;
      text-decoration: none;
      font-size: 17px;
      top: 15%;
      left: 85%;
      font-family: sans-serif;

    }
    
    .link:hover{

    animation: link 3s 1;
    }
      
    @keyframes link{
      0%{margin-left: 0;}
      25%{margin-left: -50px; color: blue;}
      100%{margin-left: 0;}
}
.H1,.link{
 animation: H1 1.5s 1;
}
     @keyframes H1{
      from{margin-top: -50%; color: blue;}
      
}

.bgimg2{
  position: absolute;
  top: 3%;
  left: 15%;
  z-index: -1;
  margin-right: -1%;
  margin-top: 50%;
  width: 30%;
}
.bgimg2{
      object-fit: cover;
      box-shadow: 7px 7px 10px 7px #303030;
      border-radius: 5%;
    }
    .about{
      position: relative;
      margin-left: 47%;
      margin-top: 53%;
      color: white;
    }
    .B1{
      position: relative;
      color: white;
      font-family: sans-serif;
      font-size: 35px;
      animation: B1 1.5s 3;
      animation-delay: 3s;
}
.p2, .p3, .p4, .p5, .p6, .p7{
  position: relative;
  color: white;
  font-size: 21px;
  font-family: sans-serif;
}
@keyframes B1{
  from{text-decoration: underline; text-decoration-color: #0087ca; }
 
}

/*index head1 animation*/
.head1{
 animation: head1 1.5s 1;
}

     @keyframes head1{
      from{margin-top: -50%; color: blue;}
      
}
